.input {
  width: 100%;
  margin: 10px 0;
  height: 30px;
  outline: none;
  background: inherit;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  &Button {
    height: 15px;
    width: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    background: url('../../image/cancel.png') no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    right: 10px;
  }
}
.label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
