@import './vars.scss';

html,
body,
p {
  margin: 0;
  padding: 0;
}

.content {
  background-color: $backgroundContent;
  min-height: 100vh;
}

.padding {
  padding: 100px 0;
}

@media (max-width: $tablet) {
  .padding {
    padding: 50px 0;
  }
}
