@import '../../styles/vars.scss';

.form {
  color: #ffffff;
  height: 100%;
  height: 60vh;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $backgroundBlock;
  border-radius: 10px;
}

.inputGroup {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
