@import '../../styles/vars.scss';

.headerLink:hover {
  color: #f50057;
  transition: 0.2s;
}

.linkBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.avatar {
  text-transform: uppercase;
}
